@tailwind base;

a {
  @apply text-blue-700;
}

/* a:hover {
  @apply border-b-2 border-blue-700;
} */

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


* {
  scroll-behavior: smooth;
  @apply font-jetbrains
}

html,
body {
  /* min-height: 101vh; */
  padding: 0;
  margin: 0;
  @apply bg-slate-900;
  line-height: 1.5rem;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


h1, h2, h3, h4, h5, h6, p{
  @apply text-white
}

a{
  @apply text-blue-800
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-lg font-bold;
}

h3 {
  @apply text-base font-bold; 
}

/* #weather-day-container::-webkit-scrollbar {
  display: none;
} */